/* styles.css */

body {
    background-color: #f0f2f6; /* Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the body to fill the viewport */
}

.uploaded-image {
    position: absolute;
    z-index: -1; /* Set z-index to position the image behind other elements */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire background */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    -o-transform: rotateY(20deg);
    transform: rotateY(20deg);
}
